# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore package build directories
build/
dist/

# Ignore generated documentation
docs/_build/

# Ignore local development settings
settings_local.py

# Ignore IDE-specific files
.vscode/
.idea/

__pycache__/
copilot_package_name.egg-info/